<div class="container">
  <h2>Topics</h2>
  <div>
    <% @topics.each do |t| %>
      <div class="well">
        <div class="row">
          <div class="col-md-8">
            <h4><%= link_to t.title, t %></h4>
            <h5><%= t.subtitle %></h5>
            <hr/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New Topic", new_topic_url, class: 'btn' %>
</div>