<div class="container">

  <h1>Schedules</h1>

  <br>
  <div class="row">
    <div class="col-md-8">
      <% @schedules.each do |schedule| %>
        <div class="card sched-title">
          <div class="row">
            <div class="col-md-8">
              <h3><%= link_to schedule.title, schedule %></h3>
            </div>
            <div class="col-md-4">
              <%= link_to 'Edit', edit_schedule_path(schedule), class: 'btn btn-light' %> |
              <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br />
  <hr />

  <%= link_to 'New Schedule', new_schedule_path, class: 'btn btn-light' %>
</div>

