
<div class="container">
  <h1>Roster</h1>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <% @players.each do |player| %>
        <h4 class="featurette-heading"><%= player.name %> #<%= player.number %></h4>
        <hr class="featurette-divider">
        <div class="row">
          <% player.positions.each do |p| %>
            <p class="lead">| <%= p.name %> |</p>
          <% end %>
        </div>
        <hr class="featurette-divider">
      <% end %>
    </div>
  </div>

  <%= link_to 'New Player', new_player_path %>
</div>

<hr class="featurette-divider">

